<footer>
    <div class="sec-link">
        <a [routerLink]="['contacts']">
            <mat-icon class="tab-icon">account_circle</mat-icon>
            <!-- <h3>Contacts</h3> -->
        </a>
    </div>
    <div class="sec-link">
        <a [routerLink]="['chats']">
            <mat-icon class="tab-icon">chat</mat-icon>
            <h3>Chats</h3>
        </a>
    </div>
    <div class="sec-link">
        <a [routerLink]="['']">
            <mat-icon class="tab-icon">tune</mat-icon>
            <!-- <h3>Settings</h3> -->
        </a>
    </div>
</footer>