<footer>
    <div class="sec-link">
        <a [routerLink]="['contacts']" routerLinkActive="link-active">
            <mat-icon class="tab-icon">account_circle</mat-icon>
            <h3 class="tab-name">{{sectionName}}</h3>
        </a>
    </div>
    <div class="sec-link">
        <a [routerLink]="['chat']" routerLinkActive="link-active">
            <mat-icon class="tab-icon">chat</mat-icon>
            <h3 class="tab-name">{{sectionName}}</h3>
        </a>
    </div>
    <div class="sec-link">
        <a [routerLink]="['settings']" routerLinkActive="link-active">
            <mat-icon class="tab-icon">tune</mat-icon>
            <h3 class="tab-name">Settings</h3>
        </a>
    </div>
</footer>