<header>
  <h2>Section Title</h2>
</header>
<div class="main">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="sec-link">
    <a [routerLink]="['contacts']">
      <div class="fas fa-id-card-alt nav-icon"></div>
      <!-- <h3>Contacts</h3> -->
    </a>
  </div>
  <div class="sec-link">
    <a [routerLink]="['chats']">
      <div class="fas fa-comment-alt nav-icon"></div>
      <!-- <h3>Chats</h3> -->
    </a>
  </div>
  <div class="sec-link">
    <a [routerLink]="['']">
      <div class="fas fa-sliders-h nav-icon"></div>
      <!-- <h3>Settings</h3> -->
    </a>
  </div>
</footer>
